name: DR2 Run git secrets and tests
on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      test-command:
        required: true
        type: string
    secrets:
      MANAGEMENT_ACCOUNT:
        required: false
      SLACK_WEBHOOK:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15
      - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.2.0
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: ${{ inputs.test-command }}
