name: DR2 Run git secrets and tests
on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      test-command:
        required: true
        type: string
    secrets:
      MANAGEMENT_ACCOUNT:
        required: false
      SLACK_WEBHOOK:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: ${{ inputs.test-command }}
