name: DR2 Build Lambda
on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      build-command:
        required: true
        type: string
      artifact-name:
        required: true
        type: string
      artifact-file-type:
        required: false
        type: string
        default: jar
      artifact-path:
        required: false
        type: string
        default: target/scala-2.13
    secrets:
      MANAGEMENT_ACCOUNT:
        required: true
      WORKFLOW_TOKEN:
        required: true
    outputs:
      next-version:
        description: "The next version of the project"
        value: ${{ jobs.pre-deploy.outputs.next-version }}

permissions:
  id-token: write
  contents: write
jobs:
  pre-deploy:
    runs-on: ubuntu-latest
    outputs:
      next-version: ${{ steps.next-tag.outputs.next-version }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433
      - name: Configure AWS credentials from management account
        uses: aws-actions/configure-aws-credentials@259eac73d3898af00550394d11116c4a94c9b1dc
        with:
          role-to-assume: arn:aws:iam::${{ secrets.MANAGEMENT_ACCOUNT }}:role/MgmtDPGithubCodeDeploy
          aws-region: eu-west-2
          role-session-name: GitHubActionsRole
      - run: pip install requests
      - id: next-tag
        uses: nationalarchives/dr2-github-actions/.github/actions/get-next-version@917201e254f112ff041b952dae76ef767cae7378
        with:
          repo-name: ${{ inputs.repo-name }}
      - name: Build new image version
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
        run: |
          ${{ inputs.build-command }}
          aws s3 cp ${{ inputs.artifact-path }}/${{ inputs.artifact-name }}.${{ inputs.artifact-file-type }} s3://mgmt-dp-code-deploy/${{ steps.next-tag.outputs.next-version }}/${{ inputs.artifact-name }}.${{ inputs.artifact-file-type }}
          git tag ${{ steps.next-tag.outputs.next-version }}
          git push origin ${{ steps.next-tag.outputs.next-version }}
          gh release create ${{ steps.next-tag.outputs.next-version }} ${{ inputs.artifact-path }}/${{ inputs.artifact-name }}.${{ inputs.artifact-file-type }}
      - name: Send failure message
        uses: nationalarchives/dr2-github-actions/.github/actions/slack-send@917201e254f112ff041b952dae76ef767cae7378
        if: failure()
        with:
          message: ":warning: Build failed for ${{ inputs.repo-name }} <https://github.com/nationalarchives/${{ inputs.repo-name }}/actions/runs/${{ github.run_id }}|View the failed workflow>"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
